body {
    background: radial-gradient(circle, rgba(255,193,116,1) 0%, rgba(251,168,103,1) 25%, rgba(249,140,102,1) 50%, rgba(250,105,94,1) 75%, rgba(249,103,77,1) 100%);
}

.content-container {
    background: white;
    border-radius: 1em;
    height: 80%;
}

.cornellchat {
    color: white;
}

.username{
    font-weight: bold;
}

.input-group{
    padding-left: 30%;
}
.overflow-scroll{
    overflow-y: scroll;
}