body {
    background: radial-gradient(circle, rgba(255,193,116,1) 0%, rgba(251,168,103,1) 25%, rgba(249,140,102,1) 50%, rgba(250,105,94,1) 75%, rgba(249,103,77,1) 100%);
}

.content-container {
    background: white;
    border-radius: 1em;
    height: 42em;
}

.cornellchat {
    color: white;
}

.username{
    font-weight: bold;
}

.input-group{
    padding-left: 10%;
}

.overflow-scroll{

    overflow: scroll;
    height: 24em;
    width: 32em;
    margin: 0 auto;
 
}

.box{
    display: inline-flex;
    flex-direction: row;
}

.rightAlign{
    width: 60%;
}